{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.16.1"
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": "commonjs"
      }
    ]
  ]
}